<% if flash[:alert] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<% if @blogs.any? %>
  <div class="container mt-5">
    <h1>My Blogs</h1>
    <div class="row">
      <% @blogs.each do |blog| %>
        <div class="col-md-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= blog.title %></h5>
              <p class="card-text"><%= blog.content %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= paginate @blogs, theme: 'bootstrap4'  %>
  </div>
<% else %>
  <div class="container mt-5">
    <h1>No blogs found.</h1>
  </div>
<% end %>
